- content_for :additional_styles do
  - stylesheets = %w(mail)
  - stylesheets.each do |ss|
    = stylesheet_link_tag(ss, media: "all")

.container
  %br/
  = button_to('New Mail Template', new_mail_template_path, { form_class: 'form-inline', class: 'btn btn-primary', method: :get })

- if @existing_mail_templates.present?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Subject
        %th Scheduled At
        %th Recurring
        %th Actions

    %tbody
      - @existing_mail_templates.each do |mail_template|
        - mail_schedule = mail_template.mail_schedule
        %tr
          %td<
            = link_to(mail_template.subject, mail_template_path(mail_template))
          - if mail_schedule.present?
            %td= mail_schedule.formatted_datetime
            %td= mail_schedule.formatted_recurring_message
          - else
            %td= 'Not scheduled yet!'
            %td= 'NA'
          %td
            %span<
              = link_to(edit_mail_template_path(mail_template)) do
                %i.icon-edit
            %span(style='padding-left: 5px; padding-right: 5px;')<
              |
            %span<
              = link_to(mail_template_path(mail_template), method: :delete, confirm: 'Are your sure?') do
                %i.icon-remove

