!!!
%html
  %head
    %title WLJK
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = link_to('Sign Out', signout_path)
    - else
      - if controller_name != 'sessions'
        = link_to('Sign In', signin_path)
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = link_to('Sign Up', signup_path)

    = yield