!!!
%html
  %head
    %title WLJK
    = stylesheet_link_tag    "application", media: "all"
    = yield :additional_styles
    = yield :additional_scripts
    = javascript_include_tag "application" unless content_for?(:additional_scripts)
    = csrf_meta_tags
  %body
    .container
      = render partial: "layouts/navigation"

      = yield